<hr>
<div class="card w-50 mx-auto border-dark" *ngIf="!update">
    <img [src]="data.image" class="card-img-top">
    <div class="card-body">
        <div>
            <h6 class="d-inline">Name: </h6>
            <p class="d-inline">{{data.f_name }} {{ data.l_name }}</p>
        </div>
        <div>
            <h6 class="d-inline">Email: </h6>
            <p class="d-inline">{{data.email }}</p>
        </div>
        <div>
            <h6 class="d-inline">Phone Number: </h6>
            <p class="d-inline">{{data.phone_number }}</p>
        </div>
        <div>
            <h6 class="d-inline">Additional Info: </h6>
            <p class="d-inline">{{data.misc_text }}</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <span class="col-1"></span>
            <button (click)="swapView()" class="btn btn-primary col-4">Update</button>
            <span class="col-2"></span>
            <button (click)="delete()" class="btn btn-danger col-4">Delete</button>
            <span class="col-1"></span>
        </div>
    </div>
    <br>

</div>

<div class="card w-50 mx-auto border-dark" *ngIf="update">
        <img [src]="data.image" class="card-img-top">
        <div class="card-body">
            <form #updateForm="ngForm"
                (ngSubmit)="updateCard()">
                
                <div class="form-group row">
                    <label for="firstNameInput" class="col-4 col-form-label">First Name</label>
                    <input class="form-control col-8" type="text"
                        id="firstNameInput"
                        name="f_name" [(ngModel)]="data.f_name">
                </div>

                <div class="form-group row">
                    <label for="lastNameInput" class="col-4 col-form-label">Last Name:</label>
                    <input class="form-control col-8" type="text"
                            id="lastNameInput"
                            name="l_name" [(ngModel)]="data.l_name">
                </div>

                <div class="form-group row">
                    <label for="emailInput" class="col-4 col-form-label">Email:</label>
                    <input class="form-control col-8" type="text"
                        id="emailInput"
                        name="email" [(ngModel)]="data.email">
                </div>

                <div class="form-group row">
                    <label for="phoneInput" class="col-4 col-form-label">Phone Number:</label>
                    <input class="form-control col-8" type="text"
                        id="phoneInput"
                        name="phone_number" [(ngModel)]="data.phone_number">
                </div>

                <div class="form-group row">
                    <label for="miscInput" class="col-4 col-form-label">Addition Info:</label>
                    <input class="form-control col-8" type="text"
                        id="miscInput"
                        name="misc_text" [(ngModel)]="data.misc_text">
                </div>

            <div class="container">
                <div class="row">
                    <span class="col-1"></span>
                    <button type="submit" class="btn btn-success col-4">Update</button>
                    <span class="col-2"></span>
                    <button type="button" (click)="swapView()" class="btn btn-danger col-4">Cancel</button>
                    <span class="col-1"></span>
                </div>
            </div>
        </form>
    </div>
    
    </div>
