<nav class="navbar navbar-expand bg-primary fixed-top">
    <h4 class="text-light">Welcome to Your Business Cards!</h4>
    <ul class="navbar nav mr-auto">
        <li class="nav-item">
            <a class="nav-link text-light" [routerLink]="['./new']">Create New Card</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-light" [routerLink]="['./search']">Search Cards</a>
        </li>
    </ul>

    <button (click)="logout()" class="btn btn-light">Log Out</button>
</nav>

<section class="navPad">
    <router-outlet></router-outlet>
</section>

